<div class="todos-wrapper">
    <div class="container">
 
        <div class="todo-item completed ">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text!</p>
        </div>

        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text!</p>
        </div>


        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div> 
            <p class="todo-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit beatae veritatis exercitationem accusantium dolores consequuntur quia? Aliquam enim, officiis, alias non, suscipit nemo exercitationem soluta iste vitae unde consectetur similique?</p>
        </div>

    </div>
</div>