.app-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    //background-color: rgb(188, 202, 219);
    background-image: '../shared/background.jpg';
    background-image: url('../shared/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
.top-section{
    //background-color: aquamarine;
    text-align: center;
    //padding: 100px 0px;
    padding-bottom: 30px;
    h1{
        font-size: 60px;
        font-weight: bold;
        color: #f5f5f5;
        text-shadow: 0px 1px 7px rgba($color: black , $alpha: 0.5);
    }

    h2{
        font-size: 30px;
        color: white;
        text-shadow: 0px 1px 4px rgba($color: black , $alpha: 0.5);
    }
}

.content-section{
  //  background-color: rgb(48, 75, 75);
    flex-grow: 1;
    min-height: 0;
    margin: 0
}

.bottom-section{
   // background-color: blueviolet;
    display: flex;
    margin-bottom: 80px;
    app-tabs{
        margin: auto;
    }

}
