<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list"> 
            <a [routerLink]="[noteObj.id]" *ngFor="let noteObj of notes" >
                <app-note-card [note]="noteObj"></app-note-card>
            </a>
        </div>

        <div class="buttons-container buttons-centered">
            <a routerLink="add" class="button add-button">
                <i class="material-icons-outlined">add</i>
                Add
            </a>
        </div>
        
    </div>
</div>