<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list"> 
            <div class="note-card">
                <div class="note-card-title">This is note title </div>
                <div class="note-card-content">Here is the content of the card</div>
            </div>
        </div>

        <div class="buttons-container buttons-centered">
            <a routerLink="add" class="button add-button">
                <i class="material-icons-outlined">add</i>
                Add
            </a>
        </div>
        
    </div>
</div>