<div class="bookmark-tile">
    <div class="tile-icon"  *ngIf="!faviconError"> 
        <img [src]="tileIconSrc" alt="bookmark" (error)="faviconError=true">
    </div>
    <div class="tile-icon fallback" *ngIf="faviconError">
        {{bookmark.name.toUpperCase()[0]}}
    </div>
    <p class="tile-text">{{bookmark.name}}</p>
</div>



<!-- <div class="bookmark-tile">
                <img src="http://wikipedia.org/favicon.ico" alt="">
            </div>
            <div class="bookmark-tile">
                <img src="http://google.com/favicon.ico" alt="">
            </div>
            <div class="bookmark-tile">
                <img src="http://linkedin.com/favicon.ico" alt="">
            </div>
            <div class="bookmark-tile">
                <img src="http://citix.me/favicon.ico" alt="">
            </div> -->