/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

html {
    font-family: 'Zen Antique', 'sans-serif';  
}

html, body{
    height: 100%;
    color: #222;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 40px;
    margin-bottom: 20px;
}

h1 .is-bold,
h2 .is-bold{
    font-weight: bold;
    letter-spacing: -2px;
}

.container{
    max-width: 850px;
    min-height: 350px;
    margin: auto;
}

.buttons-container{
    margin-top: 20px;
    display: flex;
    gap: 12px;


    &.buttons-centered{
        justify-content: center;
    }

    .align-end{
        margin-left: auto;
    }
    
}

.button {
    padding: 12px 22px;
    background: rgba(black, 0.7);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
    font-family: inherit;
    border: none;

    &:hover{
        background: rgba(black, 0.78);
        backdrop-filter: blur(2px);
    }

    &:active{
        background: rgba(black, 0.85);
    }
}

.add-button i{
    margin-right: 5px;
    margin-left: -3px;
}

.has-blurred-white-bg{
    background: rgba(white, 0.85);
    backdrop-filter: blur(20px);
}

.form-field{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}

.textbox, textarea{
    font-size: 18px;
    font-family: inherit;
    width: 100%;
    padding: 8px 10px;
    background: rgba(white, 0.9);
    border: 2px solid rgba(black, 0.3);
    border-radius: 4px;

   // margin-bottom: 20px;
    display: block;

    &:hover{
        background: rgba(white, 0.95);
        border-color: rgba(black, 0.62);
        outline: none;
    }

    &:focus{
        background: white;
        border-color: rgba(black, 0.62);
        outline: none;
    }
}

.textarea{
    resize: vertical;
    resize: horizontal;
    min-height: 100px;
}

